body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans';
    
}

header {
    width: 1600px;
    background-color: #FFF8F3 ;
    position: relative;
    margin: auto;
}

.container {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
    /*border: 1px solid rgb(74, 241, 2);*/
}


.header-nav {
    display: flex;
    justify-content: space-between;
    
}

.header-nav h1 {
    margin-top: 50px;
   
    margin-bottom: 0;
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.header-nav h1 span {
    color: #FD6E0A;
}

.navFlex {
    display: flex;
    align-items: end;
    margin-bottom: 10px;
    
}

.navFlex i {
    font-size: 2em;
    display: none;
}

.menu-nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Open Sans';
}



.menu-nav ul {
    list-style: none;
    display: flex;
    margin: auto;
    
}

.menu-nav ul li {
    padding: 0px 40px;
    color: #474747;
}

.btn-HireMe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FD6E0A;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 64px;
    font-weight: 400;

}

.developer {
    position: absolute;
    left: 30px;
    top: 50px;
    margin-bottom: 30px;   
}

.header-text-block {
    margin-top: 200px;
    
    }

.header-text-plus-image {
display: flex;
}

.header-text-block h2 {
font-size: 45px;
font-weight: 500;
margin: 0;
}

.header-text-block h1 {
    font-size: 85px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 120px;
    }

.button-block {
    display: flex;
    margin-bottom: 180px;
    justify-content: left;
}

.button-block-section3 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.button-CV {
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
}

.icon-Download img {
    margin-top: 10px;
    padding: 5px 10px 5px 0px;
    width: 25px;
    color: white;
    filter: invert(1);
}

.button-Contact {
    
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    height: 64px;
    font-weight: 600;
    margin-left: 25px;
}

.icon-Contact img {
    padding: 15px 15px 10px 0px;
}
.header-photo-block {
    display: flex;
}

.header-background {
    position: absolute;
    left: 770px;
    top: 350px;
    overflow: hidden;
}

.header-photo-portfolio {
    position: absolute;
    left: 990px;
    top: 190px;
} 

.main-section1 {
    width: 1600px;
    margin: auto;
}
.container-content {
    background-color: #FFF8F3;
    margin: auto;
    text-align: center;
    padding: 100px 180px;
    border-radius: 15px;
    /*border: 1px solid red;*/
}

.container-content h2 {
    font-size: 35px;
    font-style: bold;
    color: #181818;
}

.container-content p {
    max-width: 800px;
    margin: auto;
    line-height: 30px;
    color: #474747;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 300;
}

.container-credentials {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.container-credentials h3 {
    margin: 0;
    font-size: 20px;
    color: #474747;
    
}

.container-credentials p {
    margin: 0px;
}


.main-section2 {
    width: 1600px;
    margin: auto;
}
.container-content-section2 {
    margin: auto;
    
}

.container-text {
    width: 68%;
    text-align: center;
    margin: auto;
}
.container-text h2 {
    font-size: 35px;
}
.container-text p {
    line-height: 30px;
    color: #474747;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
    
}

.container-card {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    margin: auto;
}

.card-detail {
    width: 230px;
    font-size: 18px;
    line-height: 30px;
    color: #474747;
    font-size: 16px;
    font-weight: 300;
    /*border: 1px solid grey;*/
    border-radius: 10px;
    padding: 35px 50px;
    box-shadow: 5px 10px 20px lightgray;
}

.card-detail p {
    padding: 5px 15px 5px 0px;
}

.container-text-section3 {
    display: flex;
    
}

.container-text-section3 p {
    font-size: 16px;
    color: #6f6f6f;
    line-height: 30px;
    padding-right: 150px;
    margin-bottom: 30px;
    
}

hr {
    border: 1px solid #dedede;
    margin-bottom: 30px;   
}

.container h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 100px;
    
}

.container-text-left {
    padding: 0px 30px 30px 0px;
    color: #474747;
}

.container-text-left h2 {
    font-size: 30px;
    color: #474747;
    text-align: left;
    margin-bottom: 30px;
    
}

.container-text-right h2 {
    font-size: 30px;
    color: #474747;
    text-align: left;
    margin-bottom: 30px;
    
}

.container-text-left h3 {
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.container-text-right h3 {
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 10px; 
   
}

.container-text-left h4 {
    font-size: 20px;
    color: #6f6f6f;
    margin: 0;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-text-right h4 {
    font-size: 20px;
    color: #6f6f6f;
    margin: 0;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}



@media screen and (max-width: 1000px) {
   
    
    .menu-nav {
        display: none;
    }

    .navFlex i {
        display: block;
        align-items: center;
        padding-right: 650px;

    }
   
    .header-background {
        position: absolute;
        left: 0px;
        top: 1050px;
    }
   
    .header-photo-portfolio {
        position: absolute;
        left: 100px;
        top: 890px;
    } 

    .main-section1 {
        margin: 0;
        width: 130%;
    }

    .container-content {
       margin-top: 800px; 
       padding-left: 0px;
       background-color: transparent;
    }
    .container-credentials {
        flex-direction: column;

    }

    .main-section2 {
        margin: 0;
        
        
    }

    .container-text {
        margin: 0;
        width: 40%;
        
    }

    .container-content-section2 {
        justify-content: center;
        
    }
    .container-card {
        width: 86%;
        flex-direction: column;
        
    }

    .card-detail p {
        margin-bottom: 45px;
    }

    .container-text-section3 {
        flex-direction: column;
        padding-left: 150px;
    }
}
